.home{

  h1{
    font-size: 4rem;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    padding: 100px 0;
  }

  .links{
    background: rgba(0,0,0,.7);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    padding: 20px;
    margin-bottom: 70px;



    .categories{
      padding-left: 0px;
      border-right: 1px solid #3B3A3A;


      .title{
        font-weight: 400;
        font-size: .8rem;
        color: #fff;
        margin-bottom: 1rem;
        text-transform: uppercase;
      }

      .group-links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        &.single-col{
          grid-template-columns: repeat(1,1fr);
        }
      }

      .link{
        font-weight: 100;
        font-size: 0.6rem;
        color: #fff;
        margin-bottom: 0.5rem;
        text-decoration: none;
        &:hover{
          color: red;
        }
      }
    }
  }

  .trending{
    max-width: 800px;
    margin: 0 auto;

      .search{
        width: 100%;
        border: none;
        padding: 16px;
        font-size: 1.3rem;
        font-weight: 600;
        padding-left:30px;
      }

      .search::-webkit-input-placeholder{
        color: #d0d0d0;
        font-weight: 100;
        font-style: italic;
        background-image:url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png);
        background-repeat:no-repeat;
        background-position:6px;
        background-size: 30px;
        background-position: right;
      }


      .title{
        font-size: .9rem;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding-top:  40px;
        padding-bottom:  20px;
        font-weight: 300;
      }

      .trending-tags{
        text-align: center;
        .tag{
          padding: 10px 20px;
          border-radius: 45px;
          border: 1px solid #fff;
          display: inline-block;
          color: #fff;
          font-weight: 300;
          font-size: 0.9rem;
          margin-bottom: 20px;
          margin-right: 20px;
          &:hover{
            background: #fff;
            color: black;
            font-weight: 500;
          }
        }
      }

  }
}
