@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "home";
@import "listings";


*{
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  background-image:  linear-gradient(135deg, rgba(59,52,247,.3) 0%, rgba(154,39,230,.3) 100%), url('http://com.postmates.img.prod.s3.amazonaws.com/9fcb0858-0759-4e78-874b-bdcc2a048181/orig.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

header{
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #fff;

  .fas{
    margin-left: 10px;
  }

  .left-menu{
    display: flex;
    .logo{
      display: flex;
      font-size: 2rem;
      justify-content: center;
      align-items: center;
      font-weight: 400;
    }
    .city{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 20px;
      font-weight: 200;
    }
  }

  .right-menu{
    display: flex;

    .user-img{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .user-dropdown{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 20px;
      font-weight: 200;
    }

    .post-btn{
      font-weight: 300;
      text-transform: capitalize;
      padding: 15px 20px;
      background: #2782f2;
      color: #fff;
    }
  }

}

.container{
  max-width: 1300px;
  margin: 0 auto;
}
